.button-logout {
  font-size: 1em;
  border: 0;
  padding: 0.5em 1em;
  border-radius: 10px;
  cursor: pointer;
  font-family: "DM Sans", sans-serif;
  background: white;
  color: black;
  box-shadow: 1px 5px 2px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  font-weight: bold;
  min-width: 100px;
}

@media (max-width: 500px) {
  .button-logout {
    font-size: 0.5em;
  }
}
